
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #b4b0a6;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  color: #fff;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #b4b0a6;
  background: #b4b0a6;
  transition: 1s;
}

nav .fa {
  display: none;
}


@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .header-home{
        width: 119%;
    }
    .nav-links ul li {
        display: block;
    }


  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    height: 100vh;
    width: 200px;
    background-color: rgba(180, 176, 166, 0.8);
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }


    .nav-links ul {
        padding: 30px;
    }
    #service-table{
        width: 70%;
    }

}

.admin-panel {
  max-width: 107%;
  margin: -7px;
  background-color: #f9e0bb;
  padding-top: 1%;
  max-height: 100%;
  margin-bottom: 0%;
}

h2 {
  text-align: center;
  color: white;
}

input[type="file"] {
  border: none;
  border-bottom: 2px solid #ddd;
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

#add-blog-form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 40px 60px;
  max-width: 400px;
  opacity: 0.9;
}

form input[type="text"],
input[type="file"],
input[type="date"],
form textarea {
  border: none;
  border-bottom: 2px solid #ddd;
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

form input[type="text"],
input[type="file"],
input[type="date"],
form textarea:focus {
  outline: none;
  border-color: #c8baa8;
}

form button {
  padding: 10px 20px;
  background-color: #7c6a67;
  border: none;
}

#blog-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
}

#blog-table th {
  background-color: #e2dcd3;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  text-align: left;
}

#blog-table tr {
  border-bottom: 1px solid #ccc;
}

#blog-table td {
  padding: 6px;
}

.delete-button,
.preview-button {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #c8baa8;
}

.preview-button {
  background-color: #7c6a67;
}

.delete-button:hover,
.preview-button:hover {
  background-color: #444;
}

#blog-table tbody tr:hover {
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container #blog-table {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  #blog-table th,
  #blog-table td {
    font-size: 12px;
  }

  .delete-button,
  .preview-button {
    font-size: 12px;
  }
  th,td{
    padding: -1px;
    text-align: center;
}
}
