* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("/images/login-img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 90%; /* Adjust the width for larger screens */
  max-width: 800px;
  margin: 20px auto; /* Center the container */
  align-items: center;
  background: transparent;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px rgba(0.6, 0.6, 0.6, 0.6);
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.form-column {
  flex: 1;
  margin-right: 30px;
}

.head {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

form button[type="submit"] {
  padding: 15px 180px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 45px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  gap: 9px;
  box-shadow: 0px 8px 15px rgba(1.7, 1.7, 1.7, 1.7);
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

form button[type="submit"]:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

form button[type="submit"]:active {
  transform: translateY(-1px);
}

.form-submit {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.input-box {
  position: relative;
  width: 100%; /* Adjust the width to 100% for responsive behavior */
  margin: 20px 0;
  border-bottom: 2px solid #555;
  color: #333;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #000;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%; /* Adjust the width to 100% for responsive behavior */
  height: 50px;
  font-weight: 600;
  background: transparent;
  font-size: 16px;
  padding: 0 0 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  font-size: 0.8em;
  border-color: #c8baa8;
}

.already {
  font-size: 1em;
  font-weight: 500;
  color: #333;
  margin-top: 20px;
  width: 100%;
  text-align: center; /* Center the text */
}

.already p a {
  color: #555;
  text-decoration: none;
  font-weight: 600;
}

.already p a:hover {
  text-decoration: underline;
}

/* 

@media screen and (max-width: 767px) {
  .container {
    width: 95%; 

  .form-column {
    width: 100%;
    margin-right: 0;
  }

  .input-box {
    width: 80%;
    max-width: 270px;
    margin-left: 20px;
  }

  .input-box label {
    font-size: 0.8em;
  }

  .error {
    font-size: 0.6em;
    margin-left: 60px;
  }

  form button[type="submit"] {
    padding: 10px 150px; 
  }
} */
/* Responsive Styles for Mobile Phones */
@media screen and (max-width: 500px) {
  .head {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  section {
    overflow-y: auto;
  }
  .form-container {
    flex-direction: column;
    align-items: flex-start;
    
  }
  .container {
    margin-top: 200px;
  }

  .form-column {
    flex: 0 0 100%;
    margin-right: 0;
  }

  .input-box {
    width: 100%;
    max-width: 300px;
    margin: 15px;
    font-size: 1.2em;
  }

  .input-box label {
    font-size: 1.2em;
  }

  .error {
    font-size: 1em;
    margin-left: 30px;
  }

  form button[type="submit"] {
    padding: 10px 90px;
  }

  .input-box:nth-child(3),
  .input-box:nth-child(5) {
    margin-bottom: 2px; /* Reduce the bottom margin for email and phone input boxes on mobile */
  }
}

.input-box input:focus ~ .error,
.input-box input:valid ~ .error {
  visibility: visible;
}
.input-box .error {
  visibility: hidden;
  font-size: 0.6em;
  color: red;
}
