*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
  }
  
  h1 {
	color: white;
	text-align: center;
	margin: 30px 0;
  }
  
  .container {
	display: flex;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	opacity: 0.9;
	
  }
#t{
	width: 70%;
  }
  #tl{
	width: 80%;
  }
  .menu {
	background-color: #838285;
	width: 200px;
	border-radius: 5px;
	color: #fff;
	padding: 25px;
  }
  
  .menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .menu li {
	margin-bottom: 20px;
  }
  
  .menu a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s;
  }
  
  .menu a:hover {
	background-color: #958c8f;
  }
  
  .content {
	flex-grow: 1;
	padding: 20px;
  }
  
  .content h2 {
	color: #333;
	margin-top: 0;
  }
  
  .content form {
	margin-bottom: 20px;
  }
  
  .content label {
	display: block;
	margin-bottom: 5px;

  }
  #money{
	color: #836750;
	padding-left: 100%;
  }
  .content input[type="text"],
  .content input[type="password"] {
	border: none;
	border-bottom: 2px solid #ddd;
	box-sizing: border-box;
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	color: #333;
  }

  .btn {

	background-color: #838285;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	border: #838285;
	transition: background-color 0.3s;
	cursor: pointer;
  }
  
  .btn:hover {
	background-color: #958c8f;
  }
  
  .booking-list {
	margin-bottom: 20px;
  }
  
  .booking-item {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #89878a42;
	border: 1px solid #ddd;
	border-radius: 3px;
  }
  
  .booking-item .btn {
	background-color: #95867f;
  }
  
  .booking-item .btn:hover {
	background-color: #89878a42;
  }
  
  .cancel-btn {
	margin-top: 10px;
  }
  .logout-btn2{
	margin-left: 10;
	background-color: #838285;
	border: none;
	color: white;
	font-size: 1.1rem;
  }
