body{
  font-family:Bradley Hand,cursive;
  overflow: hidden;
  background-color: #e6e5e1;
}
#input{
  position: absolute;
  background-color: #f5fcfa;
  border-top: #c7dada;
  border-left: #c7dada;
  border-color: #c7dada;
  border-radius: 4px;
  border-width: 1px;
  padding: 3%;
  width: 60%;

}

#login-div{
  background-color: #c8baa8;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  border-radius: 10px;
  opacity: 0.6;
}

#input1{
  position: absolute;
  background-color: #f5fcfa;
  border-top: #c7dada;
  border-left: #c7dada;
  border-color: #c7dada;
  border-radius: 4px;
  border-width: 1px;
  padding: 1.5%;
  width: 60%;
  margin-left: 15%;
  margin-bottom: 3%;
}

#login-btn{
  background-color: black;
  padding: 2%;
  color: white;
  position: absolute;
  margin-left: 33%;
  border: none;
  border-radius: 50px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

#login-head{
  position: absolute;
  margin-left:40%;
  color: black;
}
#bg-img{
  width: 104%;
  height: 104%;
  margin: -2%;
}
a{
  position: absolute;
  top: 75%;
  left: 46%;
}